@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #c5e4e7;
}

.main__logo {
  margin-top: 3.75rem;
  margin-bottom: 2.1875rem;
}

.main__bigBox {
  background-color: white;
  border-radius: 1.25rem;
  padding: 1.25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__bigBoxInputSection {
  width: 100%;
}

.main__bigBoxInputSectionBill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
}

.main__bigBoxInputSectionHeader {
  font-family: "Space Mono";
  color: #5e7a7d;
  font-size: 1rem;
}

.main__bigBoxInputSectionInpBox {
  background-color: #f4fafa;
  border: 0;
  opacity: 1;
  width: 100%;
  height: 2.1875rem;
  font-family: "Space Mono";
  font-size: 1.125rem;
  color: #00494d;
}

.main__bigBoxInputSectionPicture {
  position: relative;
  bottom: 1.875rem;
  left: 0.625rem;
}

.main__bigBoxInputSectionTip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.main__bigBoxInputSectionTipPresets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
  margin-bottom: 1.875rem;
}

.main__bigBoxInputSectionTipPresetsItem {
  background-color: #00494d;
  color: white;
  font-family: "Space Mono";
  padding: 0.3125rem 2.8125rem;
  border-radius: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  font-size: 1.25rem;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.main__bigBoxInputSectionTipPresetsItem:hover {
  background-color: #26c0ab;
  color: #00494d;
  cursor: pointer;
}

.main__bigBoxInputSectionTipPresetsItem.active {
  background-color: #26c0ab;
  color: #00494d;
}

.main__bigBoxInputSectionPeople {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
}

.main__bigBoxInputSectionPeopleHeading {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__bigBoxOutputSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #00494d;
  border-radius: 0.625rem;
  padding: 1.5625rem 1.25rem;
  color: white;
  gap: 1.5625rem;
}

.main__bigBoxOutputSectionAmounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.main__bigBoxOutputSectionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Space Mono";
}

.main__bigBoxOutputSectionItemTextHeader {
  font-size: 0.875rem;
}

.main__bigBoxOutputSectionItemTextSubHeader {
  font-size: 0.75rem;
  color: #7f9c9f;
}

.main__bigBoxOutputSectionItemNumber {
  color: #26c0ab;
  font-size: 1.875rem;
}

.main__bigBoxOutputSectionReset {
  background-color: #26c0ab;
  padding: 0.625rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Space Mono";
  color: #00494d;
  border-radius: 0.3125rem;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.main__bigBoxOutputSectionReset.disabled {
  opacity: 0.3;
}

.main__bigBoxOutputSectionReset.disabled:hover {
  cursor: not-allowed;
  background-color: #26c0ab;
}

.main__bigBoxOutputSectionResetHeader {
  font-size: 1.1875rem;
}

.main__bigBoxOutputSectionReset:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

#zeroCheck {
  font-size: 0.875rem;
  display: none;
}

.container {
  max-width: 23.5625rem;
}

.shown {
  display: block !important;
}

.btnOverlay {
  width: 100%;
  background-color: #f4fafa;
  color: #5e7a7d;
  font-family: "Space Mono";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  border-radius: 0.3125rem;
  z-index: 99;
}

.accentedItem {
  padding: 0;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  position: relative;
}

#tipInp {
  position: absolute;
  width: 100%;
  border-radius: 0.3125rem;
  height: 2.5rem;
  font-family: "Space Mono";
  font-size: 1.25rem;
}

.overlayHide {
  display: none;
}

@media (min-width: 1440px) {
  .container {
    max-width: 43.75rem;
    margin-bottom: 6.25rem;
  }
  .main__bigBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__bigBoxInputSection {
    width: 50%;
  }
  .main__bigBoxInputSectionInpBox {
    width: 90%;
  }
  .main__bigBoxInputSectionTip {
    width: 99%;
  }
  .main__bigBoxInputSectionTipPresetsItem {
    width: 25%;
  }
  .main__bigBoxOutputSection {
    width: 50%;
    gap: 5.9375rem;
  }
  #zeroCheck {
    margin-right: 2.8125rem;
  }
}
/*# sourceMappingURL=main.css.map */