// Colors 
$strongCyan: hsl(172, 67%, 45%);
$vdCyan: hsl(183, 100%, 15%);
$dgCyan: hsl(186, 14%, 43%);
$gCyan: hsl(184, 14%, 56%);
$lgCyan: hsl(185, 41%, 84%);
$vlCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// Fonts
$mainFont: 'Space Mono';

// Breakpoints
$breakDesktop: 1440px;